<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ywcai.ls.mobileutil">
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="d89b3ac7" />
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".support.VersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ywcai.ls.module.mouse.view.RemoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".support.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".support.TemplateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ywcai.ls.module.components.ping.analysis.view.PingAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ywcai.ls.common.image.container.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".support.HelpActivity"
            android:screenOrientation="portrait" />
        <service
            android:name="ywcai.ls.module.mouse.model.service.ShadowService"
            android:exported="false"></service>
        <service
            android:name="com.mediav.ads.sdk.service.MvService"
            android:exported="false"
            android:enabled="true"></service>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="1105582955" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
    </application>

</manifest>